<html>
<head>
    <link rel="stylesheet" href="../documentation/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="form-group">
        <label for="">Representante</label>
        <select class='form-control' id="id_representante" type="text">
        </select>
    </div>
    <div class="form-group">
        <label for="">Valor</label>
        <input class='form-control' id="valor" type="text">
    </div>

    <div class="form-group">
        <label for="">Faixa 1</label>
        <input class='form-control' id="faixa_1" readonly type="text">
    </div>

    <div class="form-group">
        <label for="">Faixa 2</label>
        <input class='form-control' id="faixa_2" readonly type="text">
    </div>

    <div class="form-group">
        <label for="">Faixa 3</label>
        <input class='form-control' id="faixa_3" readonly type="text">
    </div>

    <div class="form-group">
        <label for="">Faixa 4</label>
        <input class='form-control' id="faixa_4" readonly type="text">
    </div>

    <div class="form-group">
        <label for="">Faixa 5</label>
        <input class='form-control' id="faixa_5" readonly type="text">
    </div>

    <div class="form-group">
        <label for="">Faixa 6</label>
        <input class='form-control' id="faixa_6" readonly type="text">
    </div>

    <div class="form-group">
        <label for="">Faixa 7</label>
        <input class='form-control' id="faixa_7" readonly type="text">
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="">Vr. Comiss&atilde;o</label>
            <input class='form-control' id="vr_comissao" readonly type="text">
        </div>

        <div class="form-group  col-md-6">
            <label for="">Perc. Final</label>
            <input class='form-control' id="perc_final" readonly type="text">
        </div>

        <div class="form-group col-md-6">
            <input class='btn btn-success col-md-12' id="calcular" type="button" value="Calcular">
        </div>
    </div>


</div>
</body>
<script src="../documentation/js/jquery.min.js"></script>
<script src="../documentation/js/bootstrap.min.js"></script>
<script src="js/calculo.js"></script>
</html>